<!-- todo_list.html -->
{% extends "base.html" %}
{% load static %}
{% block title %} TODOs - Todo List {% endblock %}

{% block content %}
<div class="todosContainer">
    <h1>To-do's</h1>
    <p>Your to-do items will be placed over here you can add edit delete.</p>
    <button id="addItemBtn" class="btn btn-success">Add new item</button>
    <div class="TodoForms">
        <div id="addItemContainer" class="addItemContainer">
            <form id="addItemForm" method="post">
                <a href="{% url 'cancelBtn'%}"><img src="{% static 'src/cancel.png' %}" alt="close" class="closeBtn"
                        style="margin-bottom: 2px; border: 1.5px solid #ccc; padding: 3px; border-radius: 5px;"></a>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="todos">
            {% if todos %}
            {% for todo in todos %}
            <div class="todoItem">
                <div class="heading">
                    <h3>{{ todo.title }}</h3>
                    <a href="{% url 'delete_todo' todo.id %}">
                        <img src="{% static 'src/cancel.png' %}" alt="cancel" class="closeBtn" style="cursor: pointer;">
                    </a>
                </div>
                <p>{{ todo.description }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p style=" color: red; margin-top: 10px;">No to-do items available.</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    const addItemBtn = document.getElementById('addItemBtn');
    const addItemContainer = document.getElementById('addItemContainer');

    addItemBtn.addEventListener('click', function () {
        addItemContainer.classList.toggle('show');
    });

</script>

{% endblock %}